### Java ###
*.class
*.jar
*.war
*.ear
*.nar

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Gradle (Dự phòng nếu dùng) ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache/
bin/

### Mac OS ###
.DS_Store

### Spring Boot Logs ###
*.log
logs/

### Môi trường & Database ###
.env
mysql_data/
docker-compose.override.yml
implementation_plan.md


.vscode/